@font-face {
  font-family: bloodcrow;
  src: url("../assets/blood_crow/bloodcrow.ttf");
}

body {
  display: grid;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: white !important;
  font-family: bloodcrow, monospace !important;
  background: url(../assets/img/background.png) no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
}

canvas {
  width: 60%;
  aspect-ratio: 480/360;
  border: solid black;
  margin: auto;
  border-radius: 20px;
}

.portrait-warning {
  display: none;
}

/*-----*/

.game {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  /* width: 100%; */
}
canvas {
  width: 100%;
  grid-area: 1 / 2 / 2 / 3;
}
.ab-buttons {
  display: grid;
  width: 120px;
  /*height: 100px;*/
  /*place-self: end start;*/
  /*margin: 0 0 10px 10%;*/
}
.ab-buttons > button {
  border: none;
  background: none;
}
.ab-buttons > button.pressed {
  background-color: black;
  box-shadow: inset 0px 0px 16px black;
}
.a-btn {
  place-self: start start;
}
.b-btn {
  place-self: end end;
}

.desktop-instructions {
  text-align: center;
  margin-top: 16px;
  width: 60%;
  max-width: 800px;
  align-self: start;
  font-size: 30px;
  display: block;
}

.portrait-warning {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .portrait-warning {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    position: fixed;
    inset: 0;
    z-index: 2;
    padding: 5vw;
  }
}

@media (max-width: 767px) {
  .desktop-instructions {
    font-size: 20px;
    display: none;
  }
}
